body {
	/* font-family: "Raleway", sans-serif; */
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    
}
.header {
}
.header-nav {
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header-logo {
    font-family: "Raleway";
    /* font-style: normal; */
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio{
    /* font-family: 'Raleway'; */
    /* font-style: normal; */
    /* font-weight: 800; */
    /* font-size: 18px; */
    /* line-height: 1.33; */
    /* display: flex;
    align-items: center; */
    /* letter-spacing: 0.03em; */
    /* text-transform: uppercase; */
    color: #2E2F42;
}
.header-list {
}
.header-item {
}
.header-link {
	/* font-family: "Roboto";
	font-style: normal; */
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.header-link:hover, .header-link:focus {
    color: #404BBF;
}
.header-mail {
	/* font-family: "Roboto"; */
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.header-mail:hover, .header-mail:focus {
    color: #404BBF;
}
.header-tel {
	/* font-family: "Roboto"; */
	/* font-style: normal; */
	/* font-weight: 400; */
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
/* .header-tel:hover, .header-tel:focus {
    color: #404BBF;
} */
.header-contacts{
}
.hero {
    background: #2E2F42;
}
.hero-title {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-button {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    /* position: absolute; */
    /* width: 169px;
    height: 56px;
    left: 636px;
    top: 428px; */
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-button:hover, .hero-button:focus {
    background: #404BBF;
}
.info {
}
.info-title {
}
.info-list {
}
.info-item {
}
.info-subtitle {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.info-text {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.examples {
}
.examples-title {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team {
}
.team-title {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-subtitle {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-slogan {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

color: #434455;
}
.section {
}
.section-title {
}
.section-list {
}
.section-item {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.section-button {
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em; */
    color: #4D5AE5;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    /* flex: none;
    order: 1;
    flex-grow: 0; */
}
.section-button:hover, .section-button:focus {
    color: #FFFFFF;
    background: #404BBF;
}
.section-items {
}
.section-items-item {
}
.section-items-item-title {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-desc {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2E2F42;
}
.footer-slogan {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-logo-studio {
    font-family: 'Raleway';
    /* font-style: normal; */
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}