body {
	/* font-family: "Raleway", sans-serif; */
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    
}
.header {
}
.header-nav {
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio{
    font-family: 'Raleway';
    /* font-style: normal; */
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-list {
}
.header-item {
}
.header-link {
	/* font-family: "Roboto";
	font-style: normal; */
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.header-link:hover {
    color: #404BBF;
    text-decoration: underline var(--nav-color);
}
.header-link:focus {

}
.header-mail {
	/* font-family: "Roboto"; */
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.header-mail:hover {
    color: #404BBF;
}
.header-tel {
	/* font-family: "Roboto"; */
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.header-tel:hover {
    color: #404BBF;
}
.header-contacts{
}
.hero {
    background: #2E2F42;
}
.hero-title {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-button {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.info {
}
.info-title {
}
.info-list {
}
.info-item {
}
.info-subtitle {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.info-text {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.examples {
}
.examples-title {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team {
}
.team-title {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-subtitle {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-slogan {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

color: #434455;
}
.section {
}
.section-title {
}
.section-list {
}
.section-item {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.section-button {
}
.section-items {
}
.section-items-item {
}
.section-items-item-title {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-desc {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2E2F42;
}
.footer-slogan {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-logo-studio {
    font-family: 'Raleway';
    /* font-style: normal; */
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}